TELEGRAM_BOT_TOKEN=your_bot_token_here
FREE_CHANNEL_ID=@your_free_channel_username
PAID_CHANNEL_ID=-100xxxxxxxxxx
SCAN_INTERVAL_SECONDS=180
HL_INFO_MIN_REQUEST_INTERVAL_SECONDS=0.75
HL_INFO_MAX_RETRIES=5
HL_HTTP_TIMEOUT_SECONDS=20
